@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  overflow: hidden auto;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #1c2628;
}

.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../app/assets/images/stacks_bg.svg");
}

.padding-button div div {
  padding: 10px;
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.khula-extrabold {
  font-family: "Khula", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.title-default {
  font-size: 3rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.25px;
}

.text-default {
  flex-shrink: 0;
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--text);
  line-height: normal;
  letter-spacing: 0.25px;
}